<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">

  <title>santri</title>

  <link rel="stylesheet" href="../../public/static/css/w3.css">
  <link rel="stylesheet" href="../../public/static/css/santri.css">
  <link rel="stylesheet" href="../../public/static/css/toastr.css">

  <link rel="stylesheet" href="../../public/static/css-awesome/brands.css">
  <link rel="stylesheet" href="../../public/static/css-awesome/fontawesome.css">
  <link rel="stylesheet" href="../../public/static/css-awesome/regular.css">
  <link rel="stylesheet" href="../../public/static/css-awesome/solid.css">
  <link rel="stylesheet" href="../../public/static/css-awesome/svg-with-js.css">
  <link rel="stylesheet" href="../../public/static/css-awesome/v4-shims.css">

  <style>
    #message{
     color: green 
    }

    a {
      text-decoration: none;
    }
  </style>

</head>

<body>
  <script src="../../public/static/js/jquery.js"></script>
  <div  class="margin">
    <div id="lista_usuarios" class="w3-margin">

      <h4>Cadastro de usuários</h4>

      <div style="display: none;">
        <label>Usuário 1</label>
      </div>

      <div>
        <label>Nome Completo</label>
        <input id="fullName" value="" type="text" class="w3-input w3-block w3-border">
      </div>

      <div>
        <label>Login</label>
        <input id="newLogin" value="" type="text" class="w3-input w3-block w3-border">
      </div>

      <div>
        <label>Senha</label>
        <input id="newPassword" value="" type="text" class="w3-input w3-block w3-border">
      </div>
    <form>
        <ul>
          <li id="opt_cadastrar_clientes"><input type="checkbox" class="atribute"  name="atribute[]" checked value="cadastrar_clientes"> <label>Cadastrar clientes</label></li>
          <li id="opt_excluir_clientes"><input type="checkbox" class="atribute"  name="atribute[]" value="excluir_clientes"> <label>Excluir clientes</label></li>
          <li id="opt_excluir_clientes"><input type="checkbox" class="atribute"  name="atribute[]" value="cadastrar_fornecedores"> <label>Cadastrar fornecedores</label></li>
          <li id="opt_excluir_clientes"><input type="checkbox" class="atribute"  name="atribute[]" value="cadastrar_produtos"> <label>Cadastrar produtos</label></li>
          <li id="opt_excluir_clientes"><input type="checkbox" class="atribute"  name="atribute[]" value="alterar_preco_produtos"> <label>Alterar preços</label></li>
        </ul>
    </form>
      
      <button class="w3-button w3-theme w3-margin-top w3-margin-bottom"><a href="pesquisa_usuarios.html">Voltar</a></button>
      <button onclick="newUser()" class="w3-button w3-theme w3-margin-top w3-margin-bottom">Gravar</button>
      <button class="w3-button w3-margin-top w3-margin-bottom w3-right">Cancelar</button>

    </div>
    <div id="message">
      
    </div>
  </div>
  <script  type="text/javascript" src="../../public/static/js/service.js"></script>
</body>

</html>